$base-color: #0dc441;

@font-face {
  font-family: yofont;
  src: url("/weihaihui/iconfont/iconfont.woff") format("woff"),
  url("/weihaihui/iconfont/iconfont.ttf") format("truetype");
}


@font-face {
  font-family: yofont;
  src: url("/weihaihui/iconfont/iconfont-sousuo.woff") format("woff"),
  url("/weihaihui/iconfont/iconfont-sousuo.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/weihaihui/iconfont/iconfont-main.woff") format("woff"),
  url("/weihaihui/iconfont/iconfont-main.ttf") format("truetype");
}
